logging:
  level:
    com.yaoyuefu.peanut: INFO
  config: classpath:logback/logback-dev.xml

spring:
  autoconfigure:
    exclude: com.alibaba.druid.spring.boot.autoconfigure.DruidDataSourceAutoConfigure
  datasource:
    dynamic:
      druid: # 2.2.3开始提供全局druid参数，以下是默认值和druid原生保持一致
        initial-size: 20
        max-active: 50
        min-idle: 30
        max-wait: 60000
        min-evictable-idle-time-millis: 30000
        max-evictable-idle-time-millis: 30000
        time-between-eviction-runs-millis: 0
        validation-query: select 1
        validation-query-timeout: -1
        test-on-borrow: false
        test-on-return: false
        test-while-idle: true
        pool-prepared-statements: true
        max-open-prepared-statements: 100
        filters: stat,wall
        share-prepared-statements: true
      mp-enabled: true #默认为false，不要随便开启，有微小的性能损失
      primary: external #设置默认的数据源或者数据源组,默认值即为master,如果你主从默认下主库的名称就是master可不定义此项。
      datasource:
        external:
          username: root
          password: vabesrb2oy
          url: jdbc:mysql://47.94.39.160:3306/prome_cloud?useSSL=true&zeroDateTimeBehavior=convertToNull
          driver-class-name: com.mysql.jdbc.Driver
